.trigger {
  font-size: 18px;
  padding: 0 12px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #e76806;
}

.logo {
  width: 24px;
  margin: -7px 0 -2px 0;
}

.site-layout .site-layout-background {
  background: #fff;
}

.header {
  padding: 8px 16px 8px 8px;
  justify-content: space-between !important;
  min-height: 45px;
  position: fixed;
  top: 0px;
  z-index: 99999;
  transition: all 0.3s;
  width: calc(100vw - 200px);
}

.header-collapsed {
  padding: 8px 16px 8px 8px;
  justify-content: space-between !important;
  min-height: 45px;
  position: fixed;
  top: 0px;
  z-index: 99999;
  transition: all 0.3s;
  width: calc(100vw - 40px);
}

@media only screen and (max-width: 424px) {
  .header-collapsed {
    width: 100vw;
  }
}

.content-holder .ant-input-search {
  max-width: 1000px !important;
  min-width: 240px;
  margin: auto;
}

.clear-search {
  width: 100%;
  max-width: 1000px !important;
  min-width: 240px;
  text-align: end;
  padding-top: 5px;
  margin: auto;
}

.logo h2 {
  color: #fff;
  margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
  display: inline;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-content {
  overflow-x: auto;
}

.ant-layout-sider, .ant-menu {
  background: #000 !important;
}

.main-heading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e76806;
  padding: 10px;
  margin-bottom: 20px;
}

.main-heading > h1 {
  color: #f7f7f7;
  font-size: 3em;
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  .main-heading > h1 {
    font-size: 2em;
  }
}

.content-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

.table-holder {
  padding-top: 20px;
  max-width: 101%;
  overflow-x: auto;
}

.dashboard-heading {
  text-transform: capitalize;
  padding-left: 10px;
  margin-bottom: 0px;
}

.dashboard-subhead {
  padding-left: 10px;
  margin-bottom: 0px;
}

.dashboard-imhead {
  display: flex;
  align-items: flex-end;
  padding: 5px;
}

/* chat css */

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  height: calc(100vh - 136px);
  border: 2px solid #ccc;
  margin: auto auto;
}

.chat-container .ant-card-body {
  padding: 2px !important;
}

.chat-head {
  padding: 3px 10px;
  font-size: 1.7rem;
  background-color: #e76806;
  color: #fff;
  margin-bottom: 8px;
  box-shadow: 0 2px 5px #e76806;
  text-align: left;
}

.chat-messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  height: calc(100vh - 250px);
}

.chat-input {
  margin-top: auto;
}

.remote,
.self,
.timer {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.remote {
  justify-content: flex-start;
}

.self {
  justify-content: flex-end;
}

.timer {
  justify-content: center;
}

.remote > div,
.self > div {
  max-width: 250px;
  min-width: 150px;
  padding: 5px 15px;
  font-size: 1.3em;
}

.self > div {
  background-color: #f3f3f3;
  border-radius: 20px 0 20px 20px;
  margin-right: 20px;
  box-shadow: -1px 1px 2px rgb(124, 124, 124);
}

.remote > div {
  background-color: #e76806;
  color: #fff;
  border-radius: 0 20px 20px 20px;
  margin-left: 20px;
  box-shadow: 1px 1px 2px rgb(124, 124, 124);
}

.timer > div {
  background-color: #f3f3f3;
  border-radius: 7px;
  padding: 3px 7px;
  font-size: 0.9em;
}

.remote > div > div,
.self > div > div {
  font-size: 0.7em;
  text-align: right;
}

.ant-layout-sider-collapsed {
  width: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
}

.ant-menu-inline-collapsed {
  width: 40px !important;
}

.wallet-container {
  padding-left: 10px;
}

.wallet-container > .anticon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.wallet-container > .anticon:active {
  transform: scale(0.9);
}

.wallet-modal-input {
  margin: 5px;
}

.ant-layout-header {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 320px;
  height: 320px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.ant-layout-sider {
  transition: all 0.3s !important;
}

@media (max-width: 424px) {
  .ant-layout-sider-collapsed {
    width: 0 !important;
    max-width: 0 !important;
    min-width: 0 !important;
    flex: 0 0 0 !important;
  }

  .ant-layout-sider-collapsed .ant-layout-sider-children {
    display: none;
  }
}

.ant-radio-button-wrapper-disabled {
  padding-right: 30px !important;
  padding-left: 30px !important;
  background-color: #d9d9d9 !important;
  color: #e76806 !important;
  font-weight: 600;
}

.site-content {
  margin: 64px 16px 20px 16px;
  padding: 24px;
  min-height: 280px;
  max-height: calc(100vh - 84px);
}

@media (max-width: 600px) {
  .site-content {
    margin: 52px 8px 8px 8px;
    max-height: calc(100vh - 60px);
    padding: 12px;
  }

  .chat-container {
    height: calc(100vh - 84px);
  }

  .chat-messages {
    height: calc(100vh - 198px);
  }
}

.gutter-row div {
  background-color: #e76806;
  padding: 8px 16px;
}

.ant-input[disabled] {
  color: #888;
  background-color: #fafafa;
}

.ant-carousel {
  width: 90vw !important;
}
